@import url('https://fonts.googleapis.com/css?family=Catamaran:400,700');

body {
  font-family: Catamaran;
}

table.git-commits {
  border-collapse: collapse;
  display: block;
  float: left;
  clear: both;
  border-top: 1pt solid black;
  margin-top: 1.3em;
}

table.git-commits tr.filter-hide {
  display: none;
}

table.git-commits td {
  border-top: 0.2pt solid black;
  border-bottom: 0.2pt solid black;

  padding: 0.5em;
}

table.git-commits td.commit-branches {
  padding: 0 0.5em;
  border-top: 0.2pt solid gray;
  border-bottom: 0.2pt solid gray;
}

table.git-commits td.commit-branches svg {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  height: 5em;
}

table.git-commits td.commit {
}

table.git-commits td.commit div.commit-comment {
  float: left;
}

table.git-commits td.commit div.commit-date {
  float: right;
  clear: right;
  color: gray;
}

table.git-commits td.commit div.commit-author {
  float: right;
  clear: right;
  color: gray;
}

table.git-commits td.commit div.commit-author a {
  color: inherit;
  text-decoration: inherit;
}

table.git-commits td.commit div.commit-author a:hover {
  color: inherit;
  text-decoration: underline dotted;
}

tr.commit-checked-true {
  background-color: rgb(255,255,122);
}

tr.commit-checked-false {
  background-color: rgb(255,255,255);
}

div.roundbox {
  display: inline-block;
  font-weight: bold;
  padding: 0.1em 0.3em;
  margin: 0.1em;
  border-radius: 0.6em;
  float: left;
}

div.ref-remote {
  background: rgb(150,0,150);
  color: white;
}

div.ref-head {
  background: rgb(0,0,150);
  color: white;
}

div.ref-tag {
  background: rgb(255,255,0);
  color: black;
}

div.testname {
  border: 0.5px solid black;
  color: white;
}

div.result-better {
  background: rgb(0,150,0);
}

div.result-good {
  background: rgb(255,255,255);
  color: black;
}

div.result-notify {
  background: rgb(200,200,0);
  color: black;
}

div.result-warn {
  background: rgb(255,150,0);
  color: black;
}

div.result-bad {
  background: rgb(150,0,0);
}

div.result-unknown {
  background: rgb(200,200,200);
}

#commits-form-submit {
  background: rgb(255,255,64);
  color: black;
  font-weight: bold;
  padding: 0.6em 0.8em;
  margin: 0.3em 1em;
  border-radius: 1em;
  border: 1px solid rgb(240,240,0);
}

#filter ul {
  list-style: none;
  display: inline-block;
  margin: 0.3em 0.5em;
}

#filter ul li {
  display: inline-block;
  margin: 0em 0.5em;
}

#filter div {
  float: left;
  display: inline-block;
  margin: 0.3em;
}


td.perfdata span.avg, td.perfdata span.perc {
  display: block;
  text-align: center;
}
td.perfdata {
  padding: 0.5em;
  border: 0.5pt solid black;
}
table.perfdata {
  border-collapse: collapse;
}
table.perfdata th {
  padding: 1em;
}

tr.first td, tr.first th {
  border-top: 2pt solid black;
}

table.perfdata td div {

}

.rollout-ctl {
  border: 0pt;
  font-weight: bold;
  background: inherit;
  float: right;
  width: 1em;
  height 0.5em;
}

ul.rollout-tgt {
  display: none;
  list-style: none;
}

ul.rollout-tgt-show {
  display: block;
  float: left;
}
